body {
  background-color: #eee;
}

#game {
  background-color: #000 !important;
  /* transform-origin: top left; */
  /* transform: scale(2); */
  user-select: none;
  image-rendering: pixelated;
  border: none;
  outline: 0;
  object-fit: contain;
}
